@using BeanStore.Models
@using PagedList.Mvc;
@model PagedList.PagedList<BeanStore.Models.item>

@{
    ViewBag.Title = "Items";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@if (@ViewBag.Notification == "empty")
{
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        Did not find the product you requested.
    </div>
}
@using (Html.BeginForm())
{
    <div>
        <input type="text" name="txtKey" placeholder="Enter your keyword">
        <button type="submit"><i class="fa fa-search"></i></button>
        <p style="color:#FF6600; font-style:italic">(*) You can search by product name, brand name or catalog name.</p>
    </div>
}
<hr />
<h2>Product Management</h2>
<p>
    @Html.ActionLink("Create new product", "Create_Items", "Admin")
</p>
<table class="table">
    <tr>
        <th style="width:200px">Name</th>
        <th style="width:200px">Brand</th>
        <th style="width:200px">Catalog</th>
        <th style="width:200px">Ranked</th>
        <!--
        <th style="width:200px">Price</th>
        <th style="width:200px">Discount</th>
        <th style="width:200px">Created</th>
        <th style="width:200px">Sale</th>
        -->
        <th style="width:200px">Image</th>
        <th style="width:200px">Image 2</th>
        <th style="width:200px">Image 3</th>
        <th style="width:200px">Image 4</th>
        <th style="width:200px">Image 5</th>
        <th style="width:200px"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brand.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.catalog.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ranked.name)
            </td>
            <!--
            <td>
                Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                Html.DisplayFor(modelItem => item.discount)
            </td>
            <td>
                Html.DisplayFor(modelItem => item.created)
            </td>
            <td>
                Html.DisplayFor(modelItem => item.sale)
            </td>
            -->
            <td>
                <img class="miniimg-products" src="~/images_product/@item.image_link" />
            </td>
            <td>
                @if (item.image_link2 != null)
                {
                    <img class="miniimg-products" src="~/images_product/@item.image_link2" />}
                else { }
            </td>
            <td>
                @if (item.image_link3 != null)
                {
                    <img class="miniimg-products" src="~/images_product/@item.image_link3" />}
                else { }
            </td>
            <td>
                @if (item.image_link4 != null)
                {
                    <img class="miniimg-products" src="~/images_product/@item.image_link4" />}
                else { }
            </td>
            <td>
                @if (item.image_link5 != null)
                {
                    <img class="miniimg-products" src="~/images_product/@item.image_link5" />}
                else { }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit_product", new { id = item.id }) |
                @Html.ActionLink("Details", "Details_product", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete_product", new { id = item.id })
            </td>
        </tr>
    }
</table>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("Items", new { page = page }))
    </div>