@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@{
    int sale = @Model.sale;
    int price = @Model.price;
    int discount = @Model.discount;
    string name = @Model.name;
}
<!-- BREADCRUMB -->
<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "Bean")">Home</a></li>
            <li><a href="javascript:history.back()">Category</a></li>
            <li class="active">@name</li>
        </ul>
    </div>
</div>
<!-- /BREADCRUMB -->
<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!--  Product Details -->
            <div class="product product-details clearfix">
                <div class="col-md-6">
                    <div class="exzoom" id="exzoom">
                        <!-- Images -->
                        <div class="exzoom_img_box">
                            <ul class='exzoom_img_ul'>
                                <li><img src="~/images_product/@Model.image_link" /></li>
                                <li><img src="~/images_product/@Model.image_link2" /></li>
                                <li><img src="~/images_product/@Model.image_link3" /></li>
                                <li><img src="~/images_product/@Model.image_link4" /></li>
                                <li><img src="~/images_product/@Model.image_link5" /></li>
                            </ul>
                        </div>
                        <!-- <a href="https://www.jqueryscript.net/tags.php?/Thumbnail/">Thumbnail</a> Nav-->
                        <div class="exzoom_nav"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="product-body">
                        <div class="product-label">
                            <span>New</span>
                            @if (sale == 0)
                            {
                                <h2 class="product-name">@name</h2>
                                <h3 class="product-price">$@price.00</h3>
                            }
                            @if (sale != 0)
                            {
                                <span class="sale">-@sale%</span>
                                <h2 class="product-name">@name</h2>
                                int pricetotal = price - ((price / 100) * sale);
                                <h3 class="product-price">$@pricetotal.00 <del class="product-old-price">$@price</del></h3>
                            }
                            <div>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o empty"></i>
                                </div>
                                <a href="#">3 Review(s) / Add Review</a>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <div class="product-options">
                            </div>
                            <p><strong>Availability:</strong></p>
                            @if (@discount == 0)
                            {
                                <p style="color:red">out of stock</p>
                            }
                            @if (@discount != 0)
                            {
                                <p>in stock</p>
                            }
                            <div class="product-options">
                            </div>
                            <div class="product-btns">
                                <a href="@Url.Action("AddCart", "Cart", new { @cId = @Model.id, @strURL = Request.Url.ToString() })">
                                    <button onclick="alert('Added to cart')" class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                </a>
                                <div class="pull-right">
                                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                                    <button class="main-btn icon-btn"><i class="fa fa-share-alt"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Product Details -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
</div>
<!-- /section -->