<li class="header-cart dropdown default-dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
        <div class="header-btns-icon">
            <i class="fa fa-shopping-cart"></i>
            <span class="qty">@ViewBag.totalQuantity</span>
        </div>
    </a>
    <div class="custom-menu">
        <div id="shopping-cart">
            <div class="shopping-cart-list">
                @if (ViewBag.cartempty == true)
                {
                    <h5>Your cart is empty! <a href="@Url.Action("Index", "Bean")"> shop now?</a></h5>
                }
                @foreach (var item in Model)
                {

                    int id = @item.cId;
                    <div class="product product-widget">
                        <div class="product-thumb">
                            <img src="~/images_product/@item.cImage_link" alt="">
                        </div>
                        <div class="product-body">
                            <h3 class="product-price">$@item.cPrice <span class="qty">x @item.cQuantity</span></h3>
                            <h2 class="product-name"><a href="@Url.Action("Details", "Bean", new { id = id})">@item.cName</a></h2>
                        </div>
                    </div>
                }
            </div>
            @if (ViewBag.cartempty != true)
            {
                <div class="shopping-cart-btns">
                    <a href="@Url.Action("Cart", "Cart")"><button class="main-btn">View Cart</button></a>
                    <button class="primary-btn">Checkout <i class="fa fa-arrow-circle-right"></i></button>
                </div>
            }
        </div>
    </div>
</li>