@model BeanStore.Models.user
@{
    ViewBag.Title = "Change_pass";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<!-- BREADCRUMB -->
<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "Bean")">Home</a></li>
            <li><a href="@Url.Action("MyAccount", "User")">Your account</a></li>
            <li class="active">Change password</li>
        </ul>
    </div>
</div>
<!-- /BREADCRUMB -->
<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-6">
                <div class="billing-details">
                    @if (ViewBag.Notification == 0)
                    {
                        <div class="alert">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            Incorrect password !!!
                        </div>
                    }
                    @if (ViewBag.Notification == 1)
                    {
                        <div class="alert2">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            "Changed your password.  "
                            <a style="color:darkgoldenrod" href="@Url.Action("Login")">Re-login</a>
                        </div>
                        <div></div>
                    }
                    <div class="section-title">
                        <h3 class="title">Change your password</h3>
                    </div>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <hr />
                        <div class="form-group">
                            <div class="col-md-10">
                                <input class="input" type="password" name="old_password" placeholder="Old password" required>
                            </div>
                        </div>
                        <hr />
                        <a href="@Url.Action("Forgot_pass", "User")">Forgot password ?</a>
                        <hr />
                        <div class="form-group">
                            <div class="col-md-10">
                                <input class="input" type="password" name="new_password" placeholder="New password" required>
                            </div>
                        </div>
                    </div>
                        <hr />
                        <div class="pull-left">
                            <input type="submit" value="Change" class="primary-btn" />
                            <button class="primary-btn">@Html.ActionLink("Cancel", "MyAccount")</button>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->